{%- if site.items.size > 0 -%}
<ul class="item-list">
    <table class="noborder">
        {% assign sorted_items = site.items | sort:"order" %}
        {%- for item in sorted_items -%}
        <tr class="noborder">
            <td class="noborder tableimage">
                <img src="{{ item.photo | relative_url}}" alt="{{ item.short_title }}" loading="lazy" width="220" height="165">
            <td class="noborder">
                <h4>
                    <a class="item-link" href="{{ item.url | relative_url }}">
                        {{ item.short_title }}<br>{{ item.title | escape }}
                    </a>
                </h4>
            </td>
        </tr>
        {%- endfor -%}
    </table>
</ul>
{%- endif -%}
